@import url(fonts.css);
@import url(reset.css);
@import url(utility.css);

body {
  font-family: "Roboto Mono";
  font-size: 1.25rem;
  background-image: url("../Images/BG-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: aquamarine;
  padding: 2.5rem;

  display: grid;
  place-content: center;
}

form {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  padding: 4rem;
  position: relative;
  border-radius: 12px;
}

.result,
.entry {
  color: white;
}

label {
  color: rgb(0, 155, 203);
  font-weight: 600;
}

input {
  width: 100%;
  font-family: "Inconsolata";
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  border: rgb(0, 155, 203) 2px solid;
  outline: none;
  border-radius: 8px;
}

button {
  position: absolute;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: rgb(45, 35, 70);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  bottom: 0.5rem;
  right: 0.5rem;

  &:hover {
    background-color: rgb(82, 43, 86);
  }
}

.result {
  max-width: 25rem;
}

.result--header {
  font-size: 1.5rem;
}

.result--value {
  font-family: "Inconsolata";
  font-weight: 500;
}

/* MOBILE SCREEN */
@media screen and (max-width: 499px) {
  body {
    background-image: url("../Images/BG-mobile.jpg");
  }
}

/* TABLET SCREEN */
@media screen and (min-width: 500px) and (max-width: 992px) {
  body {
    background-image: url("../Images/BG-tablet.jpg");
  }
}
